<div class="card">
    <p-menubar>
        <ng-template pTemplate="start">
            <button type="button" pButton iconOnly (click)="sidebarToggle()"><i class="pi pi-bars"
                    style="font-size: 1.5rem"></i></button>
        </ng-template>

        <ng-template pTemplate="end">
            <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
            @if (user(); as user) {
            <p-avatar [label]="user.fullName | avatarInitials" [style]="user.fullName | avatarColor" shape="circle">
            </p-avatar>
            }
            @else {
            <p-avatar icon="pi pi-user" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle" />
            }
        </ng-template>
    </p-menubar>

</div>